body {
    background-color:beige;
    color:rgb(0, 0, 0);

}

.heading{
    width:80%;
    font-size: 22px;
}

.name_of_objects{
    color:black
}
#camera {
    border:2px dashed rgb(0, 0, 0);
    width:350px;
    height:300px;
}